<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>About</title>
</head>
<body>
     <header>
        <div class="company-name"> <span class="c-letter">S</span>onke
            <span class="dot"></span>
        </div>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="blogs.html">Blog</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="search.html">Search</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        <h4>ABOUT US</h4>

        <div class="image-container">
         <img src="static/images/image 1.png" alt="design">
        </div>
        
        <h2> <span class="bold-font"> HELPING BUSINESSES <span class="blue-font">SUCCEED</span> WITH OUR <br> <span class="thin-font">PROFESSIONAL</span>  AND USER-FRIENDLY PLATFORMS</span></h2>
        <br>
        <p>Sonke Solutions Pty is a South African-based software and web <br> development company based in Free State, aimed at providing businesses <br> with professional and dynamic online presence
        </p>
        <br>
        <p>
            Sonke Solutions leverages cutting-edge technologies to design <br>mobile-first, responsive websites and web applications
        </p>

        <div class="quote_button">
            <a href="contacts.html">
                <button  >Get A Quotes</button>
            </a>
        </div>
        <div class="footer">
            <p>© 2023 Sonke Solutions Pty. All rights reserved by Sisanda Mthembu</p>
    
        </div>
              
    </div>
</body> 
</html>